@import "./../Styles/Mixin_New.scss";


.signup-main-container {
    width: 100%;
    height: calc(100vh - 55px);
    background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEwL3N0YXJ0dXBpbWFnZXNfYV9waG90b2dyYXBoeV9vZl9jYWtlX2luX2Jha2VyeV9zaG9wX2JhY2tncm91bmRfNzZkOTAxNDctNzZkMy00MTlmLWE3NDQtOGI1YjQzNDFhNDY5XzEuanBn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-by {
        font-size: 30px;
    }

    .form-div {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px;

        h1 {
            text-align: center;
            margin-bottom: 40px;
        }

        .input {
            height: 35px;
            width: 100%;
            border-radius: 30px;
            padding-inline-start: 10px;
            border: none;
            outline: none;
            margin: 0.5rem 0;
        }
    }
}