@import "./../../Styles/Mixin_New.scss";

.SectionThree-main-container {
    background: white;
    width: 100%;
    padding: 50px 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .kothambir {
        width: 100px;
        height: 100px;
        object-fit: contain;
        position: absolute;
        left: 200px;
        transform: rotate(30deg);

        @include respond-to(md) {
            left: 100px;
            top: 80px;
        }

        @include respond-to(sm) {
            left: 405px;
            top: 80px;
        }

        @include respond-to(xs) {
            right: 0;
            top: 80px;
        }
    }

    .tomato {
        width: 150px;
        height: 150px;
        object-fit: contain;
        position: absolute;
        right: 100px;
        top: -30px;
        transform: rotate(30deg);

        @include respond-to(md) {
            right: 30px;
            width: 120px;
            height: 120px;
        }

        @include respond-to(sm) {
            left: 30px;
            width: 120px;
            height: 120px;
        }

        @include respond-to(xs) {
            top: 0;
            left: 20px;
            width: 80px;
            height: 80px;
        }
    }

    h2 {
        font-family: coco;
        color: rgba(0, 0, 0, 0.808);
    }

    .Sectionthree-center {
        width: 100%;
        max-width: 800px;
        display: inline-flex;
        justify-content: center;
        margin-top: 80px;
    }

    .SectionThree-card-grid-div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px 0;
        width: 100%;
        max-width: 800px;

        @include respond-to(sm) {
            max-width: 700px;
        }

        @include respond-to(xs) {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px 0;
        }

        .Sectionthree-card-div {
            width: 100%;
            max-width: 215px;
            height: 300px;
            // background-image: url("./../../images/b/pizza.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            transition: 0.4s ease-in-out;
            position: relative;

            @include respond-to(sm) {
                max-width: 200px;
                height: 280px;
            }

            @include respond-to(xs) {
                max-width: 400px;
                height: 180px;
            }

            &:hover {
                transform: translateY(-5px);
                box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
                    rgba(0, 0, 0, 0.22) 0px 10px 10px;

                .kothambir-card {
                    opacity: 1;
                }

                .tomato-card {
                    opacity: 1;
                }
            }

            .kothambir-card {
                width: 80px;
                height: 80px;
                object-fit: contain;
                object-position: center;
                opacity: 0;
                transition: 0.5s ease-in-out;
                position: absolute;
                top: -50px;
                left: -30px;

                @include respond-to(xs) {
                    left: 0px;
                }
            }

            .tomato-card {
                width: 40px;
                height: 40px;
                object-fit: contain;
                object-position: center;
                opacity: 0;
                transition: 0.5s ease-in-out;
                position: absolute;
                bottom: -20px;
                right: -20px;

                @include respond-to(sm) {
                    right: 0px;
                }

                @include respond-to(xs) {
                    right: 0px;
                }
            }

            .Sectionthree-card-name {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                font-size: 30px;
                font-weight: 600;
                color: white;
                transition: 0.4s ease-in-out;
                cursor: pointer;
            }
        }
    }
}