@import "./../Styles/Mixin_New.scss";
@import "./../Styles/Variable";

.f-main {
    width: 100%;
    background-image: url("./../img/bakery/4x/Asset\ 2@4x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 40px 18px;

    .donut {
        position: absolute;
        top: 0;
        right: -100px;
        width: 100%;
        max-width: 300px;

        @include respond-to(md) {
            display: none;
        }

        @include respond-to(sm) {
            display: none;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .f-text-div {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @include respond-to(xs) {
            flex-direction: column;
            justify-content: center;
        }

        .f-one-div {
            .f-text-two {
                max-width: 300px;

                @include respond-to(xs) {
                    max-width: 500px;
                }
            }
        }

        .input-filed {
            display: flex;
            align-items: center;

            .input-footer {
                border: 1px solid white;
                outline: none;
                height: 35px;
                padding-inline-start: 10px;
                background: rgba(255, 255, 255, 0.26);
                backdrop-filter: blur(10px);

                &::placeholder {
                    color: white;
                }
            }

            .submit-btn {
                background: #791132;
                padding: 5px 10px;
                margin-left: 15px;
            }
        }

    }

}

.footer-bottom-div {
    width: 100%;
    background-image: url("./../img/bakery/4x/Asset\ 3@4x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    padding: 40px 18px;

    @include respond-to(xs) {
        padding: 20px 5px;
    }

    .footer-b-one-div {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;

        @include respond-to(sm) {
            width: 100%;
        }
        @include respond-to(xs) {
            width: 100%;
        }

        .footer-b-one-wrapper {
            display: flex;
            width: 100%;
            padding: 1rem;

            @include respond-to(sm) {
                flex-direction: column;
            }
            @include respond-to(xs) {
                flex-direction: column;
            }

            .footer-b-item {
                width: 100%;
                padding: 1rem;

            }
        }
    }
}

.Footer-main {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-name {
        color: $title;
        font-size: 18px;
        font-weight: 500;
        margin-left: 10px;
        margin-right: 10px;
    }
}